* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

/*Classes auxiliares*/
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;

}

.clear {clear: both;}

/*Classes do meu site*/
header {
    background-image: linear-gradient(rgb(37, 95, 255), rgba(0, 0, 0, 0.865));
    overflow: hidden; /* mantém o header do topo com seu devido espaço. */
}

.logo {
    float: left;
}

nav.menu-desktop {
    float: right;
    display: flex;
}

.selected {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

nav.menu-desktop li {
    font-weight: lighter;
}

nav.menu-desktop li {
    display: inline-block;
    padding: 0 20px;
}

nav.menu-desktop ul {
    position: relative;
    top: 30px;
}

nav.menu-desktop a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

nav.menu-desktop a:hover { /*o que acontece quando o mouse passar por cima (hover) do texto âncora*/
    text-decoration: underline; /* ficará sublinhado... */
}

/* Sessão main */

.fachadaPrincipal {
    margin: 20px auto;
    width: 50%;
    background-color: rgb(50, 50, 255);
    text-align: center;
    font-size: 28px;
    color: white;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 0px;
}

section.main-bg {
    display: block;
    position: relative;
    padding: 100px;
    background-image: url('../img/area_externa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.main-bg > .container {
    position: relative; /* posição precisa ser relativa para podermos usar o z-index, para o texto sair background e ficar foreground. */
    z-index: 1;
}

section.main-bg h2 {
    margin: 0px auto;
    background: blue;
    text-align: center;
    font-size: 30px;
    color: white;
}

section.main-bg p {
    text-align: left;
    font-size: 25px;
    color: white;
}


.botao {
    font-size: 28px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    color: white;
    position: relative;
    bottom: -50px;
    border: 1px outset rgb(255, 255, 255);
    background-color: rgb(18, 47, 191);
    cursor: pointer;
}

section.visaoOrganizacional {
    padding: 40px 0;
    text-align: center;
}

.line-text {
    position: relative;
    display: inline-block;
    color: rgb(2, 82, 255);
}

.line-text > div {
    position: absolute;
    left: 0;
    top:-5px;
    width: 100px;
    height: 5px;
    background: rgb(2, 82, 255);
}

.line-text h2 {
    font-size: 25px;
    font-weight: normal;

}

.caixa-icone {
    float: left;
    width: 33%;
    margin-bottom: 25px;
}

.caixa-icone p {
    font-size: 22px;
    margin: 20px auto;
}

section.sobre-fotos {
    padding: 30px 0;
    background: rgb(67, 67, 67);
}

section.sobre-fotos > .container {
    display: flex;
}

.fotos-container {
    width: 50%;
}

.sobre-container {
    width: 50%;
}

.sobre-container p {
    font-size: 20px;
    color: white;
}

.img-caixas-sobre {

}

@media screen and (max-width: 768px) {
    .caixa-icone {
        width: 100%;
    }
    section {
        height: auto;
        width: 100%;
    }

    section.main-bg > p.container {
        display: contents;
    }
}
