* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

/*Classes auxiliares*/
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;

}

.clear {clear: both;}

/*Classes do meu site*/
header {
    background-image: linear-gradient(rgb(37, 95, 255), rgba(0, 0, 0, 0.865));
    overflow: hidden; /* mantém o header do topo com seu devido espaço. */
}

.logo {
    float: left;
}

nav.menu-desktop {
    float: right;
}

nav.menu-desktop li {
    font-weight: bold;
}

nav.menu-desktop li {
    display: inline-block;
    padding: 0 20px;
}

nav.menu-desktop ul {
    position: relative;
    top: 30px;
}

nav.menu-desktop a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

nav.menu-desktop a:hover { /*o que acontece quando o mouse passar por cima (hover) do texto âncora*/
    text-decoration: underline; /* ficará sublinhado... */
}

/* Sessão main */

.fachadaPrincipal {
    margin: 20px auto;
    width: 50%;
    background-color: rgb(50, 50, 255);
    text-align: center;
    font-size: 28px;
    color: white;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 0px;
}

section.main-bg {
    display: inline-flex;
    position: relative;
    padding: 100px;
    margin: auto 450px;
    background-image: url('../img/area_externa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

section.main-bg > .container {
    position: relative; /* posição precisa ser relativa para podermos usar o z-index, para o texto sair background e ficar foreground. */
    z-index: 1;
}

section.main-bg h2 {
    margin: 0px auto;
    background: blue;
    text-align: center;
    font-size: 30px;
    color: white;
}

section.main-bg p {
    text-align: left;
    font-size: 25px;
    color: white;
}


.botao {
    font-size: 28px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    color: white;
    position: relative;
    bottom: -50px;
    border: 1px outset rgb(255, 255, 255);
    background-color: rgb(18, 47, 191);
    cursor: pointer;
}